<!DOCTYPE HTML>

<html>
	<head>
		<title>529 - Will Wasley</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Nav -->
			<nav id="nav">
				<ul class="container">
					<li><a href="#top">Top</a></li>
<!--					<li><a href="#work">Work</a></li>-->
					<li><a href="#resume">Resume</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>

		<!-- Home -->
			<article id="top" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="col-4 col-5-large col-12-medium">
							<span class="image fit"><img src="static/images/pic00.png" alt="" /></span>
						</div>
						<div class="col-8 col-7-large col-12-medium">
							<header>
								<h1>Hi. I'm <strong>Will Wasley</strong>.</h1>
							</header>
							<p>Welcome to 1(W<sup>2</sup>), my personal site. My name is
								<span class="font_bold">Will Wasley</span>, the two squared 'W's, and I am a
								<span class="font_bold">database</span> administrator and developer,
								<span class="font_bold">UNIX shell</span> programmer,
								<span class="font_bold">Python</span>ista, and
								<span class="font_bold">data science</span> enthusiast.
								I created this site to showcase my interests. I hope you enjoy your stay!
							</p>
							<a href="#resume" class="button large scrolly">Learn more about me</a>
						</div>
					</div>
				</div>
			</article>

		<!-- Work -->
<!--			<article id="work" class="wrapper style2">-->
<!--				<div class="container">-->
<!--					<header>-->
<!--						<h2>Here's all the stuff I do.</h2>-->
<!--						<p>Odio turpis amet sed consequat eget posuere consequat.</p>-->
<!--					</header>-->
<!--					<div class="row aln-center">-->
<!--						<div class="col-4 col-6-medium col-12-small">-->
<!--							<section class="box style1">-->
<!--								<span class="icon featured fa-comments"></span>-->
<!--								<h3>Consequat lorem</h3>-->
<!--								<p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>-->
<!--							</section>-->
<!--						</div>-->
<!--						<div class="col-4 col-6-medium col-12-small">-->
<!--							<section class="box style1">-->
<!--								<span class="icon solid featured fa-camera-retro"></span>-->
<!--								<h3>Lorem dolor tempus</h3>-->
<!--								<p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>-->
<!--							</section>-->
<!--						</div>-->
<!--						<div class="col-4 col-6-medium col-12-small">-->
<!--							<section class="box style1">-->
<!--								<span class="icon featured fa-thumbs-up"></span>-->
<!--								<h3>Feugiat posuere</h3>-->
<!--								<p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>-->
<!--							</section>-->
<!--						</div>-->
<!--					</div>-->
<!--					<footer>-->
<!--						<p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>-->
<!--						<a href="#portfolio" class="button large scrolly">See some of my recent work</a>-->
<!--					</footer>-->
<!--				</div>-->
<!--			</article>-->

		<!-- Resume -->
		<article id="resume" class="wrapper style2">
			<div class="container">
			<section>
				<h2>Work Experience</h2>
				  <hr>
				  <table cellspacing="20">
					 <thead align="left">
						<tr>
						   <th class="font_bold">
							  Job Title
						   </th>
						   <th class="font_bold">
							  Dates
						   </th>
						</tr>
					 </thead>
						<tbody>
						<tr>
						   <td>
							  • Senior Oracle Database Administrator, Elevance Health, Inc (formerly Anthem, Inc.)
						   </td>
						   <td>
							  2021-Present
						   </td>
						</tr>
						<tr>
						   <td>
							  • Information Security Analyst III, Ferguson, LLC
						   </td>
						   <td>
							  2020-2021
						   </td>
						</tr>
						<tr>
						   <td>
							  • Oracle Database Administrator II, Elevance Health, Inc (formerly Anthem, Inc.)
						   </td>
						   <td>
							  2016-2020
						   </td>
						</tr>
						<tr>
						   <td>
							  • Application Analyst Consultant, TEKsystems
						   </td>
						   <td>
							  2015-2016
						   </td>
						</tr>
					 </tbody>
				  </table>
			</section>
			
			<section>
				<h2>Education</h2>
				<hr>
				<table cellspacing="20">
					 <thead align="left">
					 <tr>
						<th class="font_bold">
						   Institute
						</th>
						<th class="font_bold">
						   Degree Awarded
						</th>
						<th class="font_bold">
						   Date
						</th>
					 </tr>
					 </thead>
					 <tr>
						<td>
						   <a href="https://www.umgc.edu">
							   <span>University of Maryland Global Campus</span>
						   </a>
							<br>(formerly University of Maryland University College)
						</td>
						<td>
						   Master of Science in Information Technology
						</td>
						<td>
						   Graduation Date: December 30, 2015
						</td>
					 </tr>
				  </table>
			</section>
			
			<section>
				<h2>Professional Certifications</h2>
				<hr>
				<table cellspacing="20">
					 <thead>
					 <tr>
						<th class="font_bold">
						   Vendor
						</th>
						<th class="font_bold">
						   Certification
						</th>
						<th class="font_bold">
						   Date
						</th>
					 </tr>
					 </thead>
					 <tr>
						<td>
						   Microsoft
						</td>
						<td>
						   <a href="https://www.credly.com/badges/2949aa2b-8ce1-4a04-857c-3ee883a15887/academic_transcript">
							   <span>Azure Fundamentals</span></a>
						</td>
						<td>Awarded January 9, 2021</td>
					 </tr>
					 <tr>
						<td>
						   Oracle
						</td>
						<td>
						   <a href="https://www.credly.com/badges/c34e9b87-785b-4f6d-9b28-3539cd9677dc/academic_transcript"
							  class="link_formatting">
							   <span>Oracle Certified Professional (OCP) - Database 12c Administrator</span>
						   </a>
						</td>
						<td>Awarded June 13, 2020</td>
					 </tr>
					 <tr>
						<td>
						   Oracle
						</td>
						<td>
						   <a href="https://www.credly.com/badges/3375baa5-2eb6-4a05-8148-72328c771d64/academic_transcript"
							class="link_formatting">
							   <span>Oracle Certified Professional (OCP) - Database 11g Administrator</span></a>
						</td>
						<td>Awarded May 20, 2015</td>
					 </tr>
				  </table>
			</section>
			
			<section>
				<h2>Skills</h2>
				  <hr>
				  <table align="center" cellspacing="10">
					 <tr>
						<td>Oracle Database Administration</td>
						<td>⭐⭐⭐⭐⭐</td>
						<td>Oracle Backup and recovery</td>
						<td>⭐⭐⭐⭐⭐</td>
					 </tr>
					 <tr>
						<td>Data Warehousing</td>
						<td>⭐⭐⭐⭐⭐</td>
						<td>Relational Database Design</td>
						<td>⭐⭐⭐⭐⭐</td>
					 </tr>
					 <tr>
						<td>SQL Tuning</td>
						<td>⭐⭐⭐⭐⭐</td>
						<td>PL/SQL Programming</td>
						<td>⭐⭐⭐⭐⭐</td>
					 </tr>
					 <tr>
						<td>Bash</td>
						<td>⭐⭐⭐⭐⭐</td>
						<td>Python</td>
						<td>⭐⭐⭐⭐</td>
					 </tr>
					 <tr>
						<td>PowerShell</td>
						<td>⭐⭐⭐⭐</td>
						<td>Perl</td>
						<td>⭐⭐⭐</td>
					 </tr>
					 <tr>
						<td>R</td>
						<td>⭐⭐</td>
						<td>Java</td>
						<td>⭐</td>
					 </tr>
				  </table>
				<br>
			</section>
			</div>
			</article>
		<!-- Contact -->
			<article id="contact" class="wrapper style4">
				<div class="container medium">
						<div class="col-12">
							<hr />
							<h3><a href="mailto:will@onew2.com">Contact Me Will@onew2.com</a></h3>
							<ul class="social">
								<li><a href="www.linkedin.com/in/willwasley" class="icon brands fa-linkedin-in">
									<span class="label">LinkedIn</span></a></li>
							</ul>
							<hr />
						</div>
					</div>
					<footer>
						<ul id="copyright">
							<li>&copy; Will Wasley. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>
				</div>
			</article>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>